name: Sanity Check
on:
  pull_request:
    branches:
      - main
jobs:
  buildAndTest:
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Run Maven Install
        run: mvn --batch-mode --update-snapshots verify
    runs-on: ubuntu-latest

